body{
	background: #efedef;
	width: 960px;
	margin: 0 auto;
}
.topnav {
    background-color: #e0dbe0;
    overflow: hidden;
    margin: 10px;
    width: 900px;
}
.topnav a { 
    float: left;
    display: block;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Prociono', serif;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #e8b9da;
    color: black;
}
.topnav a:active {
    background-color: #e8b9da;
    color: white;
}
#content{
	overflow: auto;
	height: 100%;
}
img.img-circle{
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 30px;
	border-radius: 50%;
}
img.align-center{
	display: block;
	margin: 0px auto;
}
p.one{
	margin-top: 50px;
	margin-left: 30px;
	padding: 10px;
	font-size: 30px;
	width: 200px;
	height: 20px;
	border: 2px solid black;
	text-align: center;
	font-family: 'Allura', cursive;
	color: #6d6c6d;
	background-color: #f7def7;
}
p.two{
	margin-top: 50px;
	margin-left: 50px;
	font-family: 'Molengo', sans-serif;
	font-size: 30px;
	color: #6d6c6d;
}
p.three{
	margin-top: 50px;
	margin-left: 30px;
	padding: 5px;
	padding-color: pink;
	font-size: 20px;
	width: 200px;
	height: 20px;
	border: 2px solid black;
	background-color: #f7def7;
	text-align: center;
	font-family: 'Antic', sans-serif;
}
p.four{
	margin-top: 50px;
	margin-left: 30px;
	font-family: 'Antic', sans-serif;
	font-size: 15px;
}
.column1{
	background-color: #e0dbe0;
	width: 300px;
	height: 900px;
	float: left;
	margin: 10px;
	margin-top: 5px;
}
.column2{
	background-color: #e0dbe0;
	width: 580px;
	height: 900px;
	float: left;
	margin: 10px;
	margin-top: 5px;
}
p.five{
	margin-top: 50px;
	margin-left: 35px;
	padding: 50px;
	padding-color: pink;
	font-size: 30px;
	width: 400px;
	height: 50px;
	border: 2px solid black;
	background-color: #f7def7;
	text-align: center;
	font-family: 'Encode Sans Expanded', sans-serif;
}
p.six{
	margin-top: 50px;
	font-size: 20px;
	text-align: left;
	font-family: 'Encode Sans Expanded', sans-serif;
}
p.seven{
	text-indent: 20px;
	text-align: justify;
}
p.eight{
	font-size: 20px;
	text-align: left;
	font-family: 'Encode Sans Expanded', sans-serif;
	margin-top: 100px;
}