body{
	background: #efedef;
	width: 960px;
	margin: 0 auto;
}
.topnav {
    background-color: #e0dbe0;
    overflow: hidden;
    margin: 10px;
    width: 900px;
    height: 40px;
}
.topnav a { 
    float: left;
    display: block;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.topnav a:hover {
    background-color: #e8b9da;
    color: black;
}
.topnav a:active {
    background-color: #e8b9da;
    color: white;
}
.container{
	margin-left: 75px;
	width: 80%;
	height: 80%;
	background-color: #f2cdf2;
	border-radius: 20px;
}
#content{
	overflow: auto;
	height: 100%;
}
img.align-center{
	display: block;
	margin: 0px auto;
	margin-top: 5px;
}
img.medium{
	width: 400px;
	height: 204px;
}
#content{
	overflow: auto;
	height: 100%;
}
p.one{
	margin-left: 10%;
	margin-top: 30px;
	font-size: 30px;
	text-align: left;
	font-family: 'Encode Sans Expanded', sans-serif;
}
form{
	margin-top: 30px;
	margin-left: 33%;
}
input[type="text"]{
	display: block;
	margin-bottom: 5px;
	width: 300px;
	height: 30px;
	border: 1px solid black;
	background: #FDF2FF;
}
input[type="email"]{
	display: block;
	margin-bottom: 5px;
	width: 300px;
	height: 30px;
	border: 1px solid black;
	background: #FDF2FF;
}
input[type="message"]{
	display: block;
	margin-bottom: 5px;
	width: 300px;
	height: 120px;
	border: 1px solid black;
	background: #FDF2FF;
}
input[type = "submit"]{
	display: block;
	margin-left: 37%;
	margin-bottom:5px;
	width: 10%;
	border: 1px solid black;
	background: #FDF2FF;
}
footer{
	display: block;
	background-color: #efedef;
    overflow: hidden;
    color: black;
    margin: 10px;
    width: 900px;
    height: 30px;
    text-align: right;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}